/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.filter-input {
    width: 300px;
}

.mdc-text-field{
    background-color: #fff !important;
    border-radius: 8px;
}

.mat-mdc-table{
    padding: 2em;
}
// .mat-mdc-row .mat-mdc-cell {
//     border-bottom: 1px solid transparent;
//     border-top: 1px solid transparent;
//     cursor: pointer;
//   }